@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
	background-color: #181818;
	color: #fff;
	text-align: center;
	margin: 0;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px .5em 0;
    width: 50%;
    text-align: center;
    margin: auto;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

p{
    line-height: 65%;
}

.title{
    line-height: 65%;
    text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div1{
    text-align: center;
    width: 30%;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

.edu{
    width: 30%;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.button1{
    text-align: center;
    border-radius: 11px;
    width: 100px;
    margin-top: auto;
    height: 20px;
    border: none;
}

.button2{
    text-align: center;
    border-radius: 50px;
    background-color: #77d16f;
    width: 100px;
    margin-top: auto;
    height: 20px;
    border: none;
}

.ad{
    border-radius: 15px;
    margin: auto;
    width: 25%;
    padding: 5%;
    background-color: #272727;
}
.td1{
    width: 1000px;
}
.gitlogo{
    width: 20px;
    vertical-align:middle;
}
.floating-text {
	background-color: #3b3b3b;
	border-radius: 10px 10px 0 0;
	color: #fff;
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}